body{
    text-align: center;
    background-color: blanchedalmond;
} 

img {
    width: 50%;
    border: solid;
}



h1{
    color: rgb(85, 12, 136);
}
.erol{
    display: inline-block;
    margin: 0px 210px;
}
.eroor{
    width: 190px;
    padding:20px ;
    padding: rgb(81, 0, 255);
      border: 8px dashed rgb(31, 16, 126);
      color: rgb(173, 18, 116);
      background-color: antiquewhite;
}
