body{
    text-align: center;
    background-color: blanchedalmond;

} 

img {
    width: 50%;
    border: solid;
}



h1{
    color: rgb(85, 12, 136);
}
.erol{
    display: inline-block;
    
}
.eroor{
    margin: auto;
    width: 180px;
    padding:20px ;
    padding: rgb(81, 0, 255);
      border: 7px dashed rgba(106, 106, 106, 0.796);
      color: rgb(173, 18, 116);
      background-color: antiquewhite;
}
